.headImg {
  background-image: url(../images/head.jpeg);
  width: 100%;
  height: auto;
}

h1 {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

h1:hover {
  text-shadow: 5px 0px 10px #b8b3b3;
  cursor: pointer;
  transform: translate(20px);
}
.capital{
  text-transform: capitalize;
}